<app-header></app-header>
<table>
    <tr>
        <th>Name</th>
        <th>Rekening</th>
    </tr>
    <tr>
        <td>Riana</td>
        <td>BCA <a href="" class="btn">edit</a><a href="" class="btn2">delete</a></td>
    </tr>
    <tr>
        <td>Geraldy</td>
        <td>Mandiri<a href="" class="btn">edit</a> <a href="" class="btn2">delete</a></td>
    </tr>
    <tr>
        <td>Dawn</td>
        <td>Bank MEGA<a href="" class="btn">edit</a> <a href="" class="btn2">delete</a></td>
    </tr>
</table>
