<app-header></app-header>
<table>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Rekening</th>
        <th>coba</th>
    </tr>
    <tr *ngFor='let user of this.datausers; let i = index;'>
        <td>{{i+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.rekening}}</td>
        <td><button [ngStyle]="{'display':this.btnprops1}"(click)="Muncul('block')">Delete</button></td>

    </tr>
 </table> 
 <div *ngIf="this.props">
    <div>
        Delete nih?
    <div><button (click)="Muncul(false)">Ya</button>
    <button (click)="Muncul(false)">Ga</button></div>
    </div>
 </div>  