<app-header></app-header>
<table>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Email</th>
        <th>coba</th>
    </tr>
    <tr>
        <td>Remus</td>
        <td>Director</td>
        <td>Remus77@gmail.com</td>
        <td><button [ngStyle]="{'display':this.btnprops1}"(click)="Muncul('block')">Delete</button></td>
    </tr>
    <tr>
        <td>James</td>
        <td>Manager</td>
        <td>JamesP@gmail.com</td>
        <td><button [ngStyle]="{'display':this.btnprops1}"(click)="Muncul('block')">Delete</button></td>
    </tr>
    <tr>
        <td>Anna</td>
        <td>Administration</td>
        <td>AnnaFroxen@gmail.com </td>
        <td><button [ngStyle]="{'display':this.btnprops1}"(click)="Muncul('block')">Delete</button></td>
    </tr>
</table>

