<app-header></app-header>
<table>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>Remus</td>
        <td>Director</td>
        <td>Remus77@gmail.com <a href="" class="btn">add</a><a href="" class="btn2">delete</a></td>
    </tr>
    <tr>
        <td>James</td>
        <td>Manager</td>
        <td>JamesP@gmail.com</td>
    </tr>
    <tr>
        <td>Anna</td>
        <td>Administration</td>
        <td>AnnaFroxen@gmail.com</td>
    </tr>
</table>

