<app-header></app-header>
<h3>total data:{{totaldata}}</h3>
<table>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Climate</th>
        <th>Diameter</th>
    </tr>
    <tr *ngFor="let planet of this.planet; let i = index;">
        <td>{{i+1}}</td>
        <td>{{planet.name}}</td>
        <td>{{planet.climate}}</td>
        <td>{{planet.diameter}}</td>
        <!-- <td><button [ngStyle]="{'display':this.btnprops1}"(click)="Muncul('block')">Delete</button></td> -->
    </tr>
</table>
<div class="test" *ngIf="this.props">
    <div class="content">
        Are You Sure?
    <div class="tombol"><button (click)="Muncul(false)">Ya</button>
    <button (click)="Muncul(false)">Ga</button></div>
    </div>
 </div>  
