table, td, th{
    border: 1px solid black;
    text-align: left;
}
table{
    margin-top: 10px;
    border-collapse: collapse;
    margin-left: 20px;
}
th, td{
    padding: 10px;
}
.btn{
    font-size: small;
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 10px;
    margin: 1px 0;
    border-radius: 10px;
    margin-left: 10px;
}
.btn2{
    font-size: small;
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 10px;
    margin: 3px 0;
    border-radius: 10px;
    margin-left: 5px;
}
a{
   text-decoration: none; 
}
.test {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  .content{
    width: 200px;
    height: 80px;
    background-color: azure;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    filter: drop-shadow(5px 5px 10px #000);
  }
  .tombol{
    height: 30px;
    padding: 10px;
  }