<app-header></app-header>
<table>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>coba</th>
    </tr>
    <tr>
        <td>Riana</td>
        <td>0812676790</td>
        <td>RianaScared@gmail.com</td>
        <td><button [ngStyle]="{'display':this.btnprops1}"(click)="Muncul('block')">Delete</button></td>
    </tr>
    <tr>
        <td>Geraldy</td>
        <td>088898765</td>
        <td>GeraldyTy@gmail.com</td>
        <td><button [ngStyle]="{'display':this.btnprops1}"(click)="Muncul('block')">Delete</button></td>
    </tr>
    <tr>
        <td>Dawn</td>
        <td>0875454531</td>
        <td>Twilight@gmail.com</td>
        <td><button [ngStyle]="{'display':this.btnprops1}"(click)="Muncul('block')">Delete</button></td>
    </tr>
</table>

