
.box{
    height: 11px;
    width: 50px;
    margin-top: -225px;
    display: inline-block;
    background: green;
    color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
}
.img{
    height: 60px;
    max-width: 300px;
    padding: 50px 20px;
}
.desc{
    margin-left: 400px;
    margin-top: -100px;
    line-height: 0.1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.size {
    font-size: 160%;
}
.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px;
}
a {
    text-decoration: none;
}
.btn2{
    display: inline-block;
    background: green;
    color: #fff;
    padding: 8px 20px;
    border-radius: 30px;
    
}



