<app-header></app-header>
<div class="box">Product</div>
<div>
<div class="img">
<img src="/assets/img/yeonjun22.jpg" width="100%" id="ProductImg">
</div>
<div class="desc">
    <p class="size">Handphone</p><br>
    <h1>Handphone Yeonjun</h1>
    <h4>IDR50.000.000</h4>
   <button (click)="Muncul(true)">Delete</button>
   <button (click)="Ada(true)">Edit</button>
    <h3>Product Details <i class="size"></i></h3>
    <br>
    <p>just handpnone idol </p>
    <p>The number of lines in a paragraph depends on the size of the browser window. If you resize the browser window, the number of lines in.</p>
    <p>mmmmmmmm</p>
</div>
<div class="test" *ngIf="this.props">
<div class="content">
    Are You Sure?
    <div class="tombol">
    <button (click)="Muncul(false)">Yes</button>
    <button (click)="Muncul(false)">No</button>
    </div>
</div>
</div>
<div class="test" *ngIf="this.props2">
    <div class="content2">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Edit">

    <label for="name">Price</label>
    <input type="text" id="name" name="price" placeholder="Edit">

    <input type="submit" value="Edit" (click)="Ada(false)">
    </div>
</div>
<div class="modal-background" *ngIf="this.props || this.props2"></div>
</div>
<div *ngFor="let starships of this.starships; let i= index;">
    <div class="img">
        <img src="/assets/img/yeonjun22.jpg" width="100%" id="ProductImg">
        </div>
        <div class="desc">
            <p class="size">{{starships.name}}</p><br>
            <h1>{{starships.model}}</h1>
            <h4>{{starships.cargo_capacity}}</h4>
           <!-- <button (click)="Muncul(true)">Delete</button> -->
           <!-- <button (click)="Ada(true)">Edit</button> -->
            <h3>Product Details <i class="size"></i></h3>
            <br>
            <p>{{starships.crew}}</p>
            <p>{{starships.manufacturer}}</p>
            <p>mmmmmmmm</p>
        </div>  
</div>

