<app-header></app-header>
<div class="box">Product</div>
<div class="img">
<img src="/assets/img/yeonjun22.jpg" width="100%" id="ProductImg">
</div>
<div class="desc">
    <p class="size">Handphone</p><br>
    <h1>Handphone Yeonjun</h1>
    <h4>IDR50.000.000</h4>
   <button [ngStyle]="{'display':this.btnprops1,'color':this.warna}"(click)="Muncul('block')">Delete</button>
   <button>Edit</button>
    <h3>Product Details <i class="size"></i></h3>
    <br>
    <p>just handpnone idol </p>
    <p>The number of lines in a paragraph depends on the size of the browser window. If you resize the browser window, the number of lines in.</p>
    <p>mmmmmmmm</p>
</div>
<div class="test" [ngStyle]="{'display':this.props}">Are You Sure?
    <button (click)="Muncul('none')">Yes</button>
    <button (click)="Muncul('none')">No</button>
</div>
